.menu-item-name {
  padding: 30px 0;
}

.avg-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.review-box {
  margin-bottom: 20px;
}

#add-review-form {
  background-color: yellow;

  input[name="review[score]"] {
    
  }
}
